# ROBUSTA 
## R-Output-Based-Statistical-Analysis
### Author: [Eitan Hemed](mailto:Eitan.Hemed@gmail.com)

robusta is a statistics package in Python3 providing an interface to 
many common statistical analyses, performed using through [R](https://www.r-project.org/)
using [RPY2](https://github.com/rpy2/rpy2).  

**PLEASE NOTE** robusta is under active development and is supplied as-is with no guarantees.

## Installation

Install with pip using `pip install https://github.com/EitanHemed/robusta/archive/master.zip`

## Usage

### Importing the library and loading data
Let's import rosbusta. This could take up to 10 seconds as many R libraries are imported under the hood. If you begin with an empty R environment the first you import robusta should take 1-2 minutes.

In [1]:
import robusta as rst

First off, we need data. Using robusta we can import R built-in and some imported datasets. You can get a full list of the datasets, similarly to calling to `data()` with no input arguments in R.

In [2]:
rst.get_available_datasets().head()

    Package        Item                                        Description
0  datasets       women     Average Heights and Weights for American Women
1  datasets  warpbreaks        The Number of Breaks in Yarn during Weaving
2  datasets     volcano  Topographic Information on Auckland's Maunga W...
3  datasets       uspop              Populations Recorded by the US Census
4  datasets       trees  Diameter, Height and Volume for Black Cherry T...

We can import a dataset using `rst.load_dataset`

In [5]:
sleep = rst.load_dataset('sleep')
sleep.head()

  dataset_rownames  extra group ID
0                1    0.7     1  1
1                2   -1.6     1  2
2                3   -0.2     1  3
3                4   -1.2     1  4
4                5   -0.1     1  5

### Running statistical analyses

Analyses are performed through using designated model objects that also store the . The model objects are returned through calls to the function API. In this example we create a model (`m`) object by calling `t2samples`. `m` will be used to fit the statistical model, returning the `results` object.

Here is a paired-samples t-test using the Students' sleep dataset previously loaded:

In [10]:
# Create the model
m = rst.api.t2samples(
    data=rst.load_dataset('sleep'), independent='group', 
    dependent='extra', subject='ID', paired=True, tail='less')
# Fit the data
results = m.fit()
# Dataframe format of the results
results.get_df()

,estimate,statistic,p.value,parameter,conf.low,conf.high,method,alternative
0,-1.58,-4.062128,0.001416,9.0,-inf,-0.866995,Paired t-test,less

We can reset the models in order to update the model parameters and re-fit it. In this example, we run the same model an an independent samples t-test:

In [12]:
m.reset(paired=False, assume_equal_variance=True)
m.fit().get_df()

,estimate,estimate1,estimate2,statistic,p.value,parameter,conf.low,conf.high,method,alternative
0,-1.58,0.75,2.33,-1.860813,0.039593,18.0,-inf,-0.107622,Two Sample t-test,less

### Supported statistical analyses

#### Frequentist t-tests
As shown above, see also `rst.t1sample`. Relatedly, see non-parametric variations of t-tests such as `wilcoxon_1sample` and `wilcoxon_2samples`.

#### Bayesian t-tests
`bayes_t2samples` and `bayes_t1sample` allow you to calculate Bayes factors or sample from the posterior distribution:

In [37]:
m = rst.api.bayes_t2samples(
        data=rst.load_dataset('mtcars'), subject='dataset_rownames',
        dependent='mpg', independent='am', prior_scale=0.5,
        paired=False)
print(m.fit().get_df())

# Test different null intervals and prior values:
m.reset(prior_scale=0.1, 
        null_interval=[0, 0.5]); print(m.fit().get_df())

         model         bf         error
0  Alt., r=0.5  71.386051  3.965971e-09
                    model         bf     error
0     Alt., r=0.1 0<d<0.5   0.463808  0.000002
1  Alt., r=0.1 !(0<d<0.5)  32.759791  0.000001

#### Analysis of variance
use `anova` to run between, within or mixed-design ANOVA, we load the anxiety dataset for the next demonstrations. 

For non-parametric ANOVAs see `kruskal_wallis_test`, `friedman_test` and `aligned_ranks_test`

In [44]:
# Load the dataset and modify it from a 'wide' to 'long' format dataframe
anxiety = rst.load_dataset('anxiety').set_index(['id', 'group']
                                           ).filter(regex='^t[1-3]$').stack().reset_index().rename(
    columns={0: 'score',
             'level_2': 'time'})
anxiety.head()

  id group time  score
0  1  grp1   t1   14.1
1  1  grp1   t2   14.4
2  1  grp1   t3   14.1
3  2  grp1   t1   14.5
4  2  grp1   t2   14.6

In [48]:
m = rst.api.anova(
        data=anxiety, subject='id',
        dependent='score', between='group', within='time')
res = m.fit()
res.get_df()

R[write to console]: Contrasts set to contr.sum for the following variables: group

       Effect           df   MSE           F   ges p.value
0       group        2, 42  7.12      4.35 *  .168    .019
1        time  1.79, 75.24  0.09  394.91 ***  .179   <.001
2  group:time  3.58, 75.24  0.09  110.19 ***  .108   <.001

Similarly, we run the model usign only the between subject term (`group`). As the model was already generated we can simpyl drop the within-subject term:

In [50]:
m.reset(within=None)
m.fit().get_df()

R[write to console]: Contrasts set to contr.sum for the following variables: group

  Effect     df   MSE       F   ges p.value
0  group  2, 42  2.37  4.35 *  .172    .019

R and many other statistical packages (e.g., [statsmodels](https://www.statsmodels.org/stable/index.html) support a formula interface to fit statistical models. Here it is shown that a model can also be specified by the formula kwargs rather than specifying `dependent`, `between` etc. The formula indicates that the score column is regressed by the time variable, with observations nested within the id column.

In [53]:
m.reset(formula='score~time|id')
res = m.fit()
res.get_df()

  Effect           df   MSE          F   ges p.value
0   time  1.15, 50.55  0.88  66.23 ***  .141   <.001

Analysis of variance also gives us access to estimated marginal means, as a post-estimation function.

In [54]:
res.get_margins('time')

  time     emmean        SE         df  lower.CL  upper.CL
0   t1  16.915556  0.261236  55.026178       NaN       NaN
1   t2  16.135556  0.261236  55.026178       NaN       NaN
2   t3  15.197778  0.261236  55.026178       NaN       NaN

We can also run a similar, bayesian ANOVA using `bayes_anova` comparing the specified terms to the null model:

In [58]:
m = rst.api.bayes_anova(data=anxiety, within='time',
                        dependent='score', subject='id')
m.fit().get_df()

  model          bf     error
0  time  496.128677  0.000078

## Work in progress and planned features

robusta includes several other features that are either under development or planned for the future.


<ins>Currently under work<ins>
- Regressions and correlations modules
  
<ins>Planned<ins>
- Sequential analysis plots (inspired by [JASP](https://jasp-stats.org/))

## Requirements


## Documentation

Mostly docstrings at the moment. But you can help by contributing to robusta in helping make one!

## Contributing

All help is welcomed, please contact [Eitan Hemed](mailto:Eitan.Hemed@gmail.com)